@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "DM Sans";
    color: #FFFFFF;
}
.container{
    width: 1470px;
    margin: 0 auto;
}
h1{
    font-size: 120px;
    font-weight: 900;
    font-family: 'Roboto';
}
h4{
    font-size: 42px;
}
h5{
    font-size: 26px;
}
p{
    font-size: 18px;
}
.header{
    background: url(./img/bg.png);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 0 20px;
}
.links{
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
}
.icons img{
    margin-left: 50px;
}
.navigation a{
    font-size: 18px;
    margin-right: 50px;
}
.container-explore{
    margin-top: 200px;
}
.container-explore button p{
    padding:25px 70px;
}
button{
    background-color: #DD2242;
    border-radius: 120px;
}
.card h6{
    color: #DD2242;
}
.card p{
    color: #939393;
}
.bottom{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    padding: 45px 70px;
    margin-top: 225px;
}
.bottom .card{
    width: 200px;
    margin-right: 200px;
}
.video {
    background: url(./img/video.png);
    position: absolute;
    top: 847px;
    right: 0px;
}
.video .play{
    background-color: #FFFFFF;
    border-radius: 100px;
    margin: 85px 170px;
}
.play img{
    padding: 14px;
}
.section-destinations{
    background: url(./img/bg2.png);
    margin-top: -75px;
}
.nature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 280px;
}
.section-destinations .description{
    width: 475px;
}
.section-destinations p{
    color: #939393;
    margin: 40px 0;
}
.section-destinations button{
    padding: 15px 40px;
}
.beaches{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 200px;
}

